@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/* 設定字體與字寬 */
body {
	  /*font-family: "Arial", "sans-serif";*/
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
	  font-weight: 400;
    /* 文字置中 */
    text-align: center;
/*    margin-left:auto;
    margin-right:auto;*/
    width: 100%;
    margin: auto;
}



header h1 {
  font-family: "Abril Fatface", serif;
  /*font-size: 45px;*/
  font-size: 2.3rem;
  margin-top: 2%; 
  margin-bottom: 2.2%; 
}
.headshot {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  margin-top: 0.5%; 
  margin-bottom: 0.5%;
}


nav {
  /* 選單黑底  */
  background-color: black;
  font-size: .95rem;
  
}
nav ul li {
  /* li橫排列 */
  display: inline-block;
  /* 去標頭 */
  list-style-type: none;
  padding: .3rem .6rem;
  margin-right: .5rem;
}
nav ul li a {
  color: white;
}


h2 {
  margin-bottom: 0.5%; 
  font-size: 1.3rem;
}

section {
  margin-top: 2.6%;
  margin-bottom: 6%;
  font-size: .9rem;
}
.last {
  margin-bottom: 13%;
}
div p {
  margin-top: 0.5%;
  margin-bottom: 0.5%; 
}

.contact a {
    color: gray;
}
.far {
    vertical-align: middle;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #efefef;

}
/* 調整圖片大小 */
footer img {
    /*height: 30px;
    width: 30px;  */
    height: 1.6rem;
    width: 1.6rem;  
}
footer ul {
    margin-right: 1.4rem; 
}
footer ul li {
    display: inline-block;
    /*margin-right:18px;*/
    margin-right: 1.1rem; 
}

