@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/* 設定字體與字寬 */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
  /* 文字置中 */
  text-align: center;
  /* margin-left:auto;
  margin-right:auto;*/
  width: 100%;
  margin: auto;
  height: 100%;
}



header h1 {
  font-family: "Abril Fatface", serif;
  font-size: 2.3rem;
  margin-top: 2%; 
  margin-bottom: 2.2%; 
}
.headshot {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  margin-top: 0.5%; 
  margin-bottom: 0.5%;
}


nav {
  /* 選單黑底  */
  background-color: black;
  /*font-size: .95rem;*/
}
@media (min-width: 768px) {
  nav ul li {
    /* li橫排列 */
    display: inline-block;
    /* 去標頭 */
    /*list-style-type: none;*/
    padding: .4rem .8rem;
    /*margin-right: .5rem;*/
  }
}
@media (max-width: 768px) {
  nav ul {
   margin: auto;
   margin-right: 1.8rem; 
  }
  nav ul li {
    /* 去標頭 */
    list-style: none;
    padding: .2rem;
  }
}

nav ul li a {
    color: white;
    text-decoration:none;
  }
  nav ul li a:hover {
    text-decoration:underline;
  }


h2 {
  margin-bottom: 0.5%; 
  font-size: 1.3rem;
}

section {
  margin-top: 2.6%;
  margin-bottom: 6%;
  font-size: .9rem;
}
.last {
  margin-bottom: 13%;
}
div p {
  margin-top: 0.5%;
  margin-bottom: 0.5%; 
}

.contact {
  padding-bottom: 1rem;
}
.contact a {
  color: #757A7A;
  text-decoration:none;
}
.contact a:hover {
  text-decoration:underline;
}
.far {
  vertical-align: middle;
}

/* 調整圖片大小 */
.last img {
  height: 1.6rem;
  width: 1.6rem;  
  opacity: 0.77;
}
.last ul {
  margin-right: 1.4rem; 
}
/*.last p, ul {
  display: inline-block;
}*/
.last ul li {
  display: inline-block;
 /* margin-right: 1.1rem; */
  padding: .1rem .3rem;
}
.last img:hover {
  height: 2.1rem;
  width: 2.1rem; 
  opacity: 1;
}
.last {
  padding-bottom: 2rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 8%;
  width: 100%;
  /*background-color: #efefef;*/
  background-color: #2E2E2E;
}
footer p {
  margin-top:1rem;
  font-size:0.6rem;
  color:white;
}

