@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/* 設定字體與字寬 */
body {
	  /*font-family: "Arial", "sans-serif";*/
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
	  font-weight: 400;
    /* 文字置中 */
    text-align: center;
    
}



header h1 {
  font-family: "Abril Fatface", serif;
  /*font-size: 45px;*/
  font-size: 2.3rem;
  margin-top: 2%; 
  margin-bottom: 2.2%; 

}
.headshot {
  /*display: inline-block;*/
  /*width: 150px;
  height: 150px;*/
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  margin-top: 0.5%; 
  margin-bottom: 0.5%; 
}

nav ul {
  /* 選單黑底  */
  background-color: black;
  /* 消除兩邊空白 */
  margin-left: -1%; 
  margin-right: -1%; 
  /*font-size: 18px;*/
  font-size: .95rem;
  
}
nav ul li {
  /* li橫排列 */
  display: inline-block;
  /* 去標頭 */
  list-style-type: none;
 /* padding: 5px 10px;
  margin-right:10px;*/
  padding: .3rem .6rem;
  margin-right: .5rem;
}
nav ul li a {
  color: white;
}


h2 {
  margin-bottom: 0.5%; 
  font-size: 1.3rem;
}

section {
  margin-top: 2.3%;
  font-size: .9rem;
}

div p {
  margin-top: 0.5%;
  margin-bottom: 0.5%; 
}

#contact a {
    color: gray;
}
.far {
    vertical-align: middle;
}


footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1px;*/
    padding: .05rem;
    background-color: #efefef;
    margin-left: -1%; 
    margin-right: -1%; 
    margin-bottom: -4%; 
    margin-top: 4%; 

}
/* 調整圖片大小 */
footer img {
    /*height: 30px;
    width: 30px;  */
    height: 1.6rem;
    width: 1.6rem;  
}
footer ul {
    margin-right: 1.4rem; 
}
footer ul li {
    display: inline-block;
    /*margin-right:18px;*/
    margin-right: 1.1rem; 
}

